<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/earn/register" method="post">
    <input type="text" value="{{user.name}}" name="name" id="">
    <input type="hidden" value="{{user.email}}" name="email" id="">
    <input type="hidden" value="{{csrfToken}}" name="_csrf" id="">
    <input type="text" value="{{user.contact}}" name="contact" id="">
    <button type="submit">submit</button>
    </form>
</body>
</html>